@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.show-accordion {
    max-height: 200px;
}
  