@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    height: 35px;
}

.sidebar {
    width: 48px;
}

.tabbar {
    height: 32px;
}

.footer {
    height: 25px;
}

.accordion {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.show-accordion {
    max-height: 200px;
}
  